<ul>
    {% if site.facebook %}
    <li><a class="fab fa-2x fa-facebook-f" href="https://facebook.com/{{ site.facebook }}"><span class="description">Facebook</span></a></li>
    {% endif %}

    {% if site.twitter %}
    <li><a class="fab fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter }}"><span class="description">Twitter</span></a></li>
    {% endif %}

    {% if site.linkedin %}
    <li><a class="fab fa-2x fa-linkedin" href="https://linkedin.com/in/{{ site.linkedin }}"><span class="description">LinkedIn</span></a></li>
    {% endif %}

    {% if site.google_plus %}
    <li><a class="fab fa-2x fa-google-plus" href="https://plus.google.com/+{{ site.google_plus }}"><span class="description">Google +</span></a></li>
    {% endif %}

    {% if site.vk %}
    <li><a class="fab fa-2x fa-vk" href="https://vk.com/{{ site.vk }}"><span class="description">ВКонтакте</span></a></li>
    {% endif %}

    {% if site.weibo %}
    <li><a class="fab fa-2x fa-weibo" href="https://weibo.com/{{ site.weibo }}"><span class="description">微博</span></a></li>
    {% endif %}

    {% if site.instagram %}
    <li><a class="fab fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram }}"><span class="description">Instagram</span></a></li>
    {% endif %}

    {% if site.flickr %}
    <li><a class="fab fa-2x fa-flickr" href="https://flickr.com/photos/{{ site.flickr }}"><span class="description">Flickr</span></a></li>
    {% endif %}

    {% if site.pinterest %}
    <li><a class="fab fa-2x fa-pinterest" href="https://pinterest.com/{{ site.pinterest }}"><span class="description">Pinterest</span></a></li>
    {% endif %}

    {% if site.github-user %}
    <li><a class="fab fa-2x fa-github" href="https://github.com/{{ site.github-user }}"><span class="description">GitHub</span></a></li>
    {% endif %}

    {% if site.codepen %}
    <li><a class="fab fa-2x fa-codepen" href="https://codepen.io/{{ site.codepen }}"><span class="description">CodePen</span></a></li>
    {% endif %}

    {% if site.stack-overflow %}
    <li><a class="fab fa-2x fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stack-overflow }}"><span class="description">Stack Overflow</span></a></li>
    {% endif %}

    {% if site.reddit %}
    <li><a class="fab fa-2x fa-reddit" href="https://reddit.com/user/{{ site.reddit }}"><span class="description">Reddit</span></a></li>
    {% endif %}

    {% if site.steam %}
    <li><a class="fab fa-2x fa-steam" href="http://steamcommunity.com/id/{{ site.steam }}"><span class="description">Steam</span></a></li>
    {% endif %}

    {% if site.youtube %}
    <li><a class="fab fa-2x fa-youtube-play" href="https://youtube.com/channel/{{ site.youtube }}"><span class="description">YouTube</span></a></li>
    {% endif %}

    {% if site.vimeo %}
    <li><a class="fab fa-2x fa-vimeo" href="https://vimeo.com/{{ site.vimeo }}"><span class="description">Vimeo</span></a></li>
    {% endif %}

    {% if site.soundcloud %}
    <li><a class="fab fa-2x fa-soundcloud" href="https://soundcloud.com/{{ site.soundcloud }}"><span class="description">Soundcloud</span></a></li>
    {% endif %}

    {% if site.lastfm %}
    <li><a class="fab fa-2x fa-lastfm" href="http://www.last.fm/user/{{ site.lastfm }}"><span class="description">Last.fm</span></a></li>
    {% endif %}

    {% if site.medium %}
    <li><a class="fab fa-2x fa-medium" href="https://medium.com/@{{ site.medium }}"><span class="description">Medium</span></a></li>
    {% endif %}

    {% if site.tumblr %}
    <li><a class="fab fa-2x fa-tumblr" href="https://{{ site.tumblr }}.tumblr.com/"><span class="description">Tumblr</span></a></li>
    {% endif %}

    {% if site.blog_url %}
    <li><a class="fas fa-2x fa-tags" href="{{ site.blog_url }}"><span class="description">Blog</span></a></li>
    {% endif %}

    {% if site.keybase %}
    <li><a class="fab fa-2x fa-keybase" href="https://keybase.io/{{ site.keybase }}"><span class="description">Keybase</span></a></li>
    {% endif %}

    {% if site.email %}
    <li><a class="fas fa-2x fa-envelope" href="mailto:{{ site.email }}"><span class="description">Email</span></a></li>
    {% endif %}

    {% if site.messenger %}
    <li><a class="fab fa-2x fa-facebook-messenger" href="https://m.me/{{ site.messenger }}"><span class="description">Messenger</span></a></li>
    {% endif %}

    {% if site.telegram %}
    <li><a class="fab fa-2x fa-telegram" href="https://telegram.me/{{ site.telegram }}"><span class="description">Telegram</span></a></li>
    {% endif %}

    {% if site.snapchat %}
    <li><a class="fab fa-2x fa-snapchat" href="https://snapchat.com/add/{{ site.snapchat }}"><span class="description">Snapchat</span></a></li>
    {% endif %}

    {% include too_social.html %}
</ul>
