<ul>
    {% assign links = null | compact %}
    {% if site.social_order %}
        {% for link in site.social_order %}
            {% assign link_elem = site.social_links | where: "name", link %}
            {% assign links = links | concat: link_elem %}
        {% endfor %}
    {% else %}
        {% assign links = site.social_links %}
    {% endif %}

    {% for link in links %}
        {% assign username = site[link.name] %}
        {% assign default_icon_class = "fab fa-2x fa-" | append: link.name %}
        {% if username %}
        <li>
          <a class="{{ link.icon_class | default: default_icon_class }}" href="{{ link.url_scheme | default: '//' }}{{ link.url_pattern | replace: '__USERNAME__', username }}">
            <span class="description">{{ link.name }}</span>
          </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
